/* Improved card styles */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 16px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-img-top:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 12px;
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-price button {
  margin: 0 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Container for the product list */
.product-list-container {
  padding: 20px;
  background-color: #f9f9f9; /* Light grey background */
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
}

/* Product list styling for a grid layout */
.product-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Flexible grid */
  gap: 20px; /* Space between cards */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Adjust grid for smaller screens */
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }
}
